<%- include("./partials/header.ejs") -%>
    <div class="container">
        <h1 style="font-size: 3rem;" class="text-center my-4 font-weight-bolder">Register</h1>
        <div style="width: 40%;" class="m-auto">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="password" name="password">
                </div>
                <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>

            <a href="/stalls">Go back</a>
        </div>
    </div>

    <%- include("./partials/footer.ejs") -%>